*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  width: 100%;
  max-height: 534px;
  padding: 0;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} 
.content__list-container {
  height: 300px; /*возможнго корректировать*/
  overflow: auto;
}
.content__details { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 399px;

}
.title {
  margin-bottom: 26px;
}
.result { 
  width: 711px;
}
.result__video-container {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 16px;
  object-fit: contain;
} /*что-то непонятное из 2 шага*/

video {
  object-fit: cover;
  width: 711px;
}
.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;

}/*распологает видосы(карточки) и описание в одну строчку и прижимает к верху*/

.content__list-container {
  width: 100%;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
  line-height: 1.8;
  white-space: nowrap;
  text-overflow: ellipsis;
} 
.more-button {
  width: 100%;
} /*растягивает кнопку в ширину блока*/

.content__video-card-thumbnail {
  max-height: 103px;
  max-width: 390px;
  object-fit: contain;
  object-position: right;
}/*задает минимальную высоту и ширину для изображения видоса*/


.content__list:has(li) {
  display: flex;
  flex-direction: column;
  gap: 30px;
}/*делает отступ элементам с видосами*/

/*ШАГ 3*/

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
}
.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  leading-trim: NONE;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}/*меняет заголовок*/
.content__accent {
  color: #545050;
}/*меняет первую фразу заголовка*/

.content__card-link {
  font-family: Oswald;
  font-style: Bold;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}/*меняет заголовки карточек*/

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 16.2px;
  letter-spacing: 0%;
  text-transform: none;
}/*меняет описание карточек*/

.content__video-card-title {
  overflow: hidden;
  line-height: 1.8;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content__video-card-description {
  overflow: hidden;
  line-height: 1.8;
  white-space: nowrap;
  text-overflow: ellipsis;
}/*прячет текст в ...*/

/*ШАГ 4*/

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}/*скрывает не нужное*/

.search-form__checkbox-list {
  display: flex;
  gap: 30px;
}

.search-form__pseudo-checkbox {
  border: #fff;
  padding: 1px;
}
.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.search-form__pseudo-checkbox:checked {
  opacity: 1;
}

/*.search-form__label:nth-child(n + 2):hover {
  width: 100%;
  text-decoration: underline;
} подчеркивание при наведении - доделай

.search-form__checkbox-list:has(.search-form__label):hover {
  width: 100%;
  text-decoration: underline;
}*/

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 30px;
}/**/
.search-form__textfield {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; 
  color: #fff;
  background-color: #1B1919;
  appearance: none;
} /*меняем фон кнопки*/
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
} /*меняем фон подсказки в кнопке*/

/*5 шаг*/
.button {
  background-color: rgb(255 255 255 / 0.0);
  color: #fff;
  border-color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  text-align: center;
}/*настраиваем кнопки*/

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}
.more-button {
  width: 100%;
  height: 34px;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  background-color: #545050;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
/**/